<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZOYI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZOYI.Properties.Settings>
            <setting name="baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="default_com" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>pl</value>
            </setting>
            <setting name="panel_label_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="panel_value_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="panel_bg_color" serializeAs="String">
                <value>Black</value>
            </setting>
        </ZOYI.Properties.Settings>
    </userSettings>
</configuration>